:root {
    --black: #050505;
    --grey: #454545;
    --white: #FFFFFF;
    --green: #39FF14;
    --greenDark: #215414;
    --orange: #FA8128;
    --orangeBurnt: #BF5700;

    --headerHeight: 40px;
    --headerButtonWidth: 110px;

    --borderRad: 5px;
    --borderThickness: 2px;
    --borderColor: var(--orange); /* #FA8128; */

    --buttonHeight: 40px;
    --buttonWidth: 110px;
    --buttonHighlight: #643603;

    --paddingBox 20px;
}

body {
    background-color: var(--black);
    margin: 0;
    padding: 5;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    color: var(--green);
    margin: 10px;
    padding: 5px;
}

p {
    color: var(--white);
    font-size: 24px;
    width: fit-content;
    align-self: flex-start;
    margin: 10px;
    padding: 5px;
}

.box {
    background-color: var(--grey);
    margin: 20px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
}

.form-group {
    color: var(--green);
    border-radius: 10px;
    border: 0px solid var(--white);
    height: 55px;
    max-width: 1000px;
    line-height: 2;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--green);
    color: var(--black);
    font-size: 22px;
    cursor: pointer;
    border: none;
    border-radius: var(0);
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    margin: 0px;
}
button:hover {
    background-color: var(--greenDark);
}

.container-header {
    background-color: var(--grey);
    width: 100%;
    height: var(--headerHeight);
    display: flex; /* make horizontal buttons */
    flex-direction: row;
    margin: 0px auto;
    padding-left: 10px;
}

.buttonHeader {
    background-color: var(--grey);
    color: var(--orange);
    flex: none; /* makes buttons line up horizontally */
    height: var(--headerHeight);
    width: auto; /* Dynamically adjust the width of the button */
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin: 0px;
    white-space: nowrap; /* ⬅ prevents label from wrapping */
    padding: 10px;
}
.buttonHeader:hover {
    background-color: var(--grey);
    color: var(--white);
}
.button-group {
    display: flex;
    justify-content: flex-start;
}
