<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/app.js"></script>


        <title>Enzyme Profiling</title>
    </head>
    <body>
        <!-- Header Buttons -->
        <div class="container-header">
            <div class="button-group">
                <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
            </div>
        </div>

        <!-- Body Buttons -->
        <div class="box">
            <h1>Filter Amino Acids</h1>
            <p>Define Dataset Filters</p>
            <div class="form-group">
                <button type="button" onclick="clickButton()" class="button">Click Me</button>
            </div>
        </div>
    </body>
</html>
