<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/app.js"></script>


        <title>Enzyme Profiling</title>
    </head>
    <body>
        <!-- Header -->
        <div class="container-header">
            <!-- Header Buttons -->
            <div class="button-group">
                <button class="buttonHeader" onclick="pageHome()">Home</button>
                <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
            </div>

            <!-- Header Dropdown -->
            <div class="dropdown-wrapper">
                <div class="dropdown">
                  <button class="dropbtn">Select Enzyme</button>
                      <div class="dropdown-content">
                        <a href="/addEnzyme">Add Enzyme</a>
                        <a href="/help">Help</a>
                      </div>
                  </div>
            </div>
        </div>

        <!-- Body -->
        <div class="box">
            <h1>
                Your Name
            </h1>
            <p>
                This website will allow you to process enzyme profiling data.<br><br>
                The available tools can:<br>
                 — Extract protein sequences from FASTQ or FASTA files.<br>
                 — Evaluate amino acid (AA) enrichment in an experimental (Exp) dataset
                relative to a background (Bg) set.<br>
                 — Use Shannon Entropy to filter the Exp dataset.<br><br>
            </p>

            <p class="pL"> <!-- Paragraph label -->
                <b>Process DNA:</b></p>
            <p>
                Upload a FASTQ or FASTA file to translate the DNA sequences. The prevalence of
                amino acids in your datasets will be evaluated. Both the counts matrix, and
                protein sequences can then be downloaded and used for subsequent analyses.
                <br><br>
            </p>

            <p class="pL">
                <b>Filter AA:</b>
            </p>
            <p>
                To apply a filter to the data, select which residues will be fixed, or excluded
                from a given position in the sequence. If you don't know which AAs to fix, then
                don't add a filter and plot the raw data. This will indicate favorable residues.
                <br><br>
            </p>

            <p class="pL">
                <b>Filter Motif:</b>
            </p>
            <p>
                By evaluating the amino acid probabilities in the Exp set, we can determine
                entropy scores (∆S) at each position in the sequence.<br><br>
            </p>

            <p class="pL">
                <b>Equations:</b>
            </p>
            <p>
                By comparing the probability of finding a given residue in the Exp and Bg
                datasets, the Enrichment Score (ES) of each residue can be evaluated.
            </p>
            <p class="pE"> <!-- Equation -->
                ES =  log<sub>2</sub>(prob<sub>AA Exp</sub> / prob<sub>AA Bg</sub>)
            </p>
            <p>
                The AA probabilities in the Exp set are used to determine the change in
                entropy (∆S) at a given position in the sequence.
            </p>
            <p class="pE">
                ∆S = S<sub>Max</sub> - S<sub>Shannon</sub> = log<sub>2</sub>(20) -
                ∑(-prob<sub>AA</sub> * log<sub>2</sub>(prob<sub>AA</sub>))<br><br>
            </p>

            <p class="pL">
                <b>Miscellaneous:</b>
            </p>
            <p>
                Source Code is available at:
                <a href="https:/github.com/Collinformatics/SpecificityProfile"
                   target=\"_blank\">
                    <strong>https:/github.com/Collinformatics/SpecificityProfile</strong>
                </a><br><br>
            </p>
        </div>
    </body>
</html>
