<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/app.js"></script>


        <title>Enzyme Profiling</title>
    </head>
    <body>
        <!-- Header -->
        <div class="container-header">
            <!-- Header Buttons -->
            <div class="button-group">
                <button class="buttonHeader" onclick="pageHome()">Home</button>
                <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
            </div>

            <!-- Header Dropdown -->
            <div class="dropdown-wrapper">
                <div class="dropdown">
                  <button class="dropbtn">Select Enzyme</button>
                      <div class="dropdown-content">
                        <a href="/addEnzyme">Add Enzyme</a>
                        <a href="/help">Help</a>
                      </div>
                  </div>
            </div>
        </div>


        <!-- Body -->
        <div class="box">
            <h1>Process DNA</h1>
            <p>{{ pg1 | safe }}<p>
            <div class="form-group">
                <button type="button" onclick="clickButton()" class="button">Click Me</button>
            </div>
        </div>
    </body>
</html>
