<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/app.js"></script>

        <title>Enzyme Profiling</title>
    </head>
    <body>
        <!-- Header -->
        <div class="container-header">
            <!-- Header Buttons -->
            <div class="button-group">
                <button class="buttonHeader" onclick="pageHome()">Home</button>
                <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
            </div>

            <!-- Header Dropdown -->
            <div class="dropdown-wrapper">
                <div class="dropdown">
                  <button class="dropbtn">Select Enzyme</button>
                      <div class="dropdown-content">
                        <a href="/addEnzyme">Add Enzyme</a>
                        <a href="/help">Help</a>
                      </div>
                  </div>
            </div>
        </div>


        <!-- Application -->
        <div class="box">
            <h1>Process DNA</h1>
            <p>
                This program translates DNA sequences. Uploaded files must be formatted as
                FASTQ or FASTA.<br><br>
                The produced datasets can be downloaded and used for subsequent analysis.
            </p>
            <p></p>

            <!-- Forms -->
            <form id="dnaForm" enctype="multipart/form-data" class="input-form">

                <!-- Enzyme name -->
                <div class="form-group">
                    <label for="enzymeName">Enzyme Name:</label>
                    <div class="form-wrapper">
                        <input type="text" id="enzymeName"
                               name="enzymeName" required value="Name">
                    </div>
                </div>

                <!-- Experimental data -->
                <div class="form-group">
                    <label for="sequenceFile">Experimental Data:</label>
                    <div class="form-wrapper">
                        <input type="file" id="fileExp" name="fileExp"
                               accept=".fasta,.fa,.fasta.gz,.fa.gz,.fastq,.fq,.gz"
                               required>
                    </div>
                </div>

                <!-- Background data -->
                <div class="form-group">
                    <label for="sequenceFile">Background Data:</label>
                    <div class="form-wrapper">
                        <input type="file" id="fileBg" name="fileBg"
                               accept=".fasta,.fa,.fasta.gz,.fa.gz,.fastq,.fq,.fastq.gz,.fq, .gz"
                               required>
                    </div>
                </div>

                <!-- Flanking sequence -->
                <div class="form-group">
                    <label for="flank5">Flanking Sequences:</label>
                    <div class="form-wrapper">
                        <label for="seq5Prime">5':</label>
                        <input type="text" id="seq5Prime"
                               name="seq5Prime" value="AAAGGCAGT" required>
                    </div>
                    <div class="form-wrapper">
                        <label for="seq3Prime">3':</label>
                        <input type="text" id="seq3Prime"
                               name="seq3Prime" value="GGTGGAAGT" required>
                    </div>
                </div>

                <!-- Sequence Length -->
                <div class="form-group">
                  <label for="seqLength">Sequence Length:</label>
                  <div class="form-wrapper">
                    <input type="number" id="seqLength" name="seqLength"
                           value="8" min="1" onchange="updateFixedAA()" style="width: 50px;"
                           required>
                  </div>
                </div>

                <!-- Fix AA and Position -->
                <div class="form-group">
                  <label>Fix Residues (Optional):</label>
                  <div id="fixedAAContainer"></div>
                </div>

                <!-- Minimum Phred Score -->
                <div class="form-group">
                    <label for="minPhred">Minimum Phred Score:</label>
                    <div class="form-wrapper">
                        <input type="number" id="minPhred" name="minPhred"
                               value="20" min="0"  max="40" style="width: 50px;">
                    </div>
                </div>
            </form>

            <!-- Execute -->
            <div class="button-wrapper">
                <button class="btn" onclick="buttonProcessDNA()">Evaluate</button>
            </div>
        </div>
    </body>
</html>
