<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/app.js"></script>


        <title>Enzyme Profiling</title>
    </head>
    <body>
        <!-- Header -->
        <div class="container-header">
            <!-- Header Buttons -->
            <div class="button-group">
                <button class="buttonHeader" onclick="pageHome()">Home</button>
                <button class="buttonHeader" onclick="pageProcessDNA()">Process DNA</button>
                <button class="buttonHeader" onclick="pageFilterAA()">Filter AA</button>
                <button class="buttonHeader" onclick="pageFilterMotif()">Filter Motif</button>
            </div>

            <!-- Header Dropdown -->
            <div class="dropdown-wrapper">
                <div class="dropdown">
                  <button class="dropbtn">Select Enzyme</button>
                      <div class="dropdown-content">
                        <a href="/addEnzyme">Add Enzyme</a>
                        <a href="/help">Help</a>
                      </div>
                  </div>
            </div>
        </div>


        <!-- Body -->
        <div class="box">
            <h1>Process DNA</h1>
            <p>
                This program translates DNA sequences. Uploaded files must be formatted as
                FASTQ or FASTA.<br><br>
                The produced datasets can be downloaded and used for subsequent analysis.
            </p>

            <!-- Forms -->
            <form id="dnaForm" enctype="multipart/form-data" class="input-form">

                <!-- Enzyme name -->
                <div class="form-group">
                    <label for="enzymeName">Enzyme Name:</label>
                    <input type="text" id="enzymeName" name="enzymeName" required value="Name">
                </div>

                <!-- Experimental data -->
                <div class="form-group">
                    <label for="sequenceFile">Experimental Data:</label>
                    <input type="file" id="fileExp"
                           name="fileExp" accept=".fasta,.fa,.fastq,.fq" required>
                </div>

                <!-- Background data -->
                <div class="form-group">
                    <label for="sequenceFile">Background Data:</label>
                    <input type="file" id="fileBg"
                           name="fileBg" accept=".fasta,.fa,.fastq,.fq" required>
                </div>



                <!-- Execute -->
                <div class="form-button">
                    <button type="button" onclick="buttonProcessDNA()">Click Me</button>
                </div>
            </form>
        </div>
    </body>
</html>
